################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
